node_modules/
client/node_modules/
config/production.json
client/build
client/.eslintcache
package-lock.json
client/package-lock.json
# Elastic Beanstalk Files
#.elasticbeanstalk/*
#!.elasticbeanstalk/*.cfg.yml
#!.elasticbeanstalk/*.global.yml
