server/node_modules/
client/node_modules/
server/config/production.json
client/build
client/.eslintcache
server/client
# Elastic Beanstalk Files
#.elasticbeanstalk/*
#!.elasticbeanstalk/*.cfg.yml
#!.elasticbeanstalk/*.global.yml
