nav {

background-color: black;
overflow: hidden;
padding: 10px;
}

a {

    float: right;
    padding-top: 5px;
    font-family: 'Monaco', Georgia, 'Times New Roman', Times, serif;
}

a.homeB {

float: left;
}

 a.aboutB {

padding-right:  20px;
}

 a.registerB {

padding-right:  20px;
}

 a.signinB {

    padding-right:  4px;
    }

.navlinks a:link {
    color: white;
    text-decoration: none;

}
.navlinks a:visited{
    text-decoration: none;
    color: white;
}
.navlinks a:hover{
    text-decoration: underline;
}
.navlinks a:active{
    text-decoration: underline;
}
#toplogo {
    height: 30px;
    width: 30px;
    padding-right: .65%;
    display: inline;
    text-align: left;
    float: left;
}