.navigation {

background-color: black;
overflow: hidden;
padding: 15px;
}

.navigation a {

    float: right;

}

.navigation a.homeB {

float: left;
}

a.aboutB {

padding-right:  20px;
}

a.registerB {

padding-right:  20px;
}

 a.signinB {

    padding-right:  4px;
    }

 a:link {
    color: white;
    text-decoration: none;

}
 a:visited{
    text-decoration: none;
    color: white;
}
 a:hover{
    text-decoration: underline;
}
 a:active{
    text-decoration: underline;
}
#toplogo {

}